<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <img class="logo" src="/images/oponger_logo_large.jpg" />
    {% if player %}
    <div class="greeting">Hi {{ player.pseudonym }}.</div>
    {% else %}
    <div class="greeting">Hi {{ nickname }}.</div>
    <h3>Sign up for OPONGER</h3>
    <form action="/signup" method="post">
      <label for="psudonym">Psudonym</label>
      <input type="text" name="pseudonym" />
      <input type="submit" value="Sign Up" />
    </form>
    {% endif %}
    <br style="clear:both">
    <h1>Rulez::::</h1>
    <p>Preliminaries will commence as soon as we get our shit together. They'll be in WATT (i.e. Conference Room 2), and wherever the San Francisco folks figure out a spot to play (TBD). The eight players that servive the preliminaries will make it to the finals.</p>

    <p>The final event will be on 5/5/2011 (cinco de mustache, baby!), commencing at 5:37PM right after the crowning of the stache. There WILL be a keg, so come out and watch/party!</p>
    <p>Finals will be single elimination, with contenders playing for best 3/5 games. Again, 21 points wins a game.</p>

    <p>Beyond that, rules are for whiners and cheats. If you have questions or need a ref for something, talk to Sean Owen (a.k.a. sean@sucks.com). Also, here's <a href="http://www.pongworld.com/more/rules.php">a good reference if all else fails</a>.</p>
    <h1>Czech out the competition::::</h1>
    <ul>
      {% for player in players %}
      <li class="player">{{ player.pseudonym }} ======= {{player.user.nickname}}</li>
      {% endfor %}
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
