<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <img class="logo" src="/images/oponger_logo_large.jpg" />
    {% if player %}
    <div class="greeting">Hi {{ player.pseudonym }}.</div>
    {% else %}
    <div class="greeting">Hi {{ nickname }}. Sign up for OPONGER.</div>
    <form action="/signup" method="post">
      <label for="psudonym">Psudonym</label>
      <input type="text" name="pseudonym" />
      <input type="submit" value="Sign Up" />
    </form>
    {% endif %}
    <h3>Czech out the competition::::</h3>
    <ul>
      {% for player in players %}
      <li class="player">{{ player.pseudonym }} ======= {{player.user.nickname}}</li>
      {% endfor %}
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
