<h1>Active games::::</h1>
<table>
  <tr>
    <th>Owner</th>
    <th>Challenger</th>
    <th>Update Scores and Complete</th>
  </tr>
  {% for game in active_games %}
  <tr class="game">
    <td>
      <a href="/player/{{game.player_1.key.name}}">
        {{ game.player_1.pseudonym }}
      </a>
    </td>

    <td>
      <a href="/player/{{game.player_2.key.name}}">
        {{ game.player_2.pseudonym }}
      </a>
    </td>
    {% comment %}
    Would use OR here instead of two ifequals,
    but we'd need to upgrade the templating system to 1.2
    {% endcomment %}
    {% ifequal game.player_1.key player.key %}
    <td>
      {% include "partials/complete_game.html" %}
    </td>
    {% endifequal %}
    {% ifequal game.player_2.key player.key %}
    <td>
      {% include "partials/complete_game.html" %}
    </td>
    {% endifequal %}
  </tr>
  {% endfor %}
</table>
