<h1>Active Games</h1>
{% if active_games %}
<table>
  <tr>
    <th>Creator</th>
    <th>Challenger</th>
    <th>Created</th>
    <th>Update Scores and Complete</th>
  </tr>
  {% for game in active_games %}
  <tr class="game">
    <td>
      <a href="/player/{{game.player_1.key.name}}">
        {{ game.player_1.pseudonym }}
      </a>
    </td>

    <td>
      <a href="/player/{{game.player_2.key.name}}">
        {{ game.player_2.pseudonym }}
      </a>
    </td>
    <td>
        {{ game.created_date }}
    </td>
    {% if game.player_1.key == player.key or game.player_2.key == player.key %}
    <td>
      {% include "partials/complete_game.html" %}
      {% include "partials/cancel_game.html" %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
No active games.
{% endif %}

