<h1>Available Games</h1>
{% if available_games %}
<ul>
  {% for game in available_games %}
  <li>
     <strong>Creator:</strong> <a href="/player/{{game.player_1.key.name}}">{{ game.player_1.pseudonym }}</a>
     <strong>Created:</strong> {{ game.created_date }}
     {% ifequal player.user game.player_1.user %}
     {% include "partials/cancel_game.html" %}
     {% else %}
     <form action="/game/join" method="post">
       <input type="hidden" name="game_id" value="{{ game.key.id }}" />
       <input type="submit" value="Join" />
     </form>
     {% endifequal %}
  </li>
  {% endfor %}
</ul>
{% else %}
No available games.
{% endif %}
