<h3>Available Games</h3>
{% if available_games %}
<ul class="available">
  {% for game in available_games %}
  <li class="rounded clearfix">
     <div class="info">
         <a href="/player/{{game.player_1.key.name}}">{{ game.player_1.pseudonym }}</a> 
         {{ game.created_date|timesince }} ago <small>({{ game.created_date|date:"D, d M Y" }})</small>
     </div>
     {% ifequal player.user game.player_1.user %}
        {% include "partials/cancel_game.html" %}
     {% else %}

         <form action="/game/join" method="post">
       <input type="hidden" name="redirect_path" value="{{redirect_path}}" />
       <input type="hidden" name="game_id" value="{{ game.key.id }}" />
       <input type="submit" class="s" value="Join" />
         </form>
     {% endifequal %}
  </li>
  {% endfor %}
</ul>
{% else %}
No available games.
{% endif %}
