<a href="#" class="complete-game button-link">Complete game</a>
<div id="complete-game-wrapper" class="hide">
    
    <form id="complete-game-form" action="/game/complete" method="post">

      <input type="text" name="player_1_score" class="t player-1-score" />
      <input type="text" name="player_2_score" class="t player-2-score" />

      <input type="hidden" name="game_id" value="{{ game.key.id }}" />
      <br />
      <input type="submit" class="s" value="Complete" />
      <p class="error"></p>
    </form>

</div>