{% if completed_games %}
<ul class="game-list completed-games">
    {% for game in completed_games %}
    <li class="game">

        <div class="title">
            <a href="/player/{{game.player_1.key.name}}"
                {% if game.winner.key == game.player_1.key %}
                    class="winner"
                {% else %}
                    class="loser"
                {% endif %}">{{ game.player_1.pseudonym }}</a>
            <span class="versus">VERSUS</span>
            <a href="/player/{{game.player_2.key.name}}"
                {% if game.winner.key == game.player_2.key %}
                    class="winner"
                {% else %}
                    class="loser"
                {% endif %}">{{ game.player_2.pseudonym }}</a>
        </div>

        <div class="creation-date">
            {{ game.created_date|timesince }} ago
        </div>

    </li>
    {% endfor %}

</ul>
{% else %}
No completed games.
{% endif %}
