<a href="#" class="complete-game button-link">Complete game</a>
<div id="complete-game-wrapper" class="hide">

    <h3 class="no-border">Select Game Winner</h3>

        <div class="clearfix">

            <div class="player-1">
                <form id="complete-game-form" action="/game/complete" method="post">
                    <input type="hidden" name="game_id" value="{{ game.key.id }}" />
                    <input type="hidden" name="player_1_won" value="true"/>
                    <input type="submit" class="s" value="{{game.player_1.pseudonym}}" />
                </form>
            </div>

            <div class="player-2">
                <form id="complete-game-form" action="/game/complete" method="post">
                    <input type="hidden" name="game_id" value="{{ game.key.id }}" />
                    <input type="hidden" name="player_2_won" value="true"/>
                    <input type="submit" class="s" value="{{game.player_2.pseudonym}}" />
                </form>
            </div>

        </div>

        <p class="note">"ESC" to cancel</p>


</div>