<table>
    <tr>
        <th></th>
        <th>Rank</th>
        <th>Pseudonym</th>
        <th>Email</th>
        <th>Location</th>
    </tr>
    {% for player in players %}
    <tr class="player">
        <td>{% gravatar_img_for_email player.user.nickname %}</td>
        <td>{{ player.rank }}</td>
        <td><a href="/player/{{player.key.name}}">{{ player.pseudonym }}</a></td>
        <td>{{ player.user.nickname }}</td>
        {% for location in locations %}
        {% ifequal location.geoPt.lat player.location.lat %}
        <td>{{ location.name }}</td>
        {% endifequal %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
