/* OPONGER MAIN CSS */

/* HTML Elements*/

body {
    background: #313131 fixed url(/images/background.jpg) 0 0;
    color: #fff;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

a {
    color: #ffc000;
    text-decoration: none;
}

a:hover, 
ul.meta-nav a:hover,
ul.navigation a:hover {
    color: #ff00fc;
}

h1,h2,h3,h4,h5,h6, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

h1 {
	font-family: 'MolotRegular';
	font-size: 120px;
	line-height: 120px;
    text-transform: uppercase;
}

h2, h3, h4, h5 {
	font-family: 'ChunkFiveRegular';
    text-transform: uppercase;    
}

h2 {
    color: #fff;
    font-size: 40px;
    line-height: 44px;
    margin: 40px 0 20px;
}

h3 {
    border-top: 1px solid #aaa;
    font-size: 30px;
    line-height: 34px;
    padding-top: 20px;
    margin: 40px 0 10px;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

/* Global Styles */

.no-border {
    border: none !important;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/* Blocks */

.wrapper {
    background: transparent url(/images/logo.png) no-repeat top center;
    margin-top: 20px;
}

#container {
    padding: 20px;
    position: relative;
}

#main {
}

#content {
    clear: both;
    padding-top: 30px;
}

/* BLOCK: Navigation */

ul.navigation, ul.meta-nav {
    z-index: 3;
}

ul.navigation li, ul.meta-nav li {
    float: left;
    margin-right: 20px;
}

ul.navigation {
    margin: 100px 0 0 0;
    /* Rotate */
    -webkit-transform: rotate(-3deg); 
    -moz-transform: rotate(-3deg);	
}

ul.navigation li a {
    border-bottom: 2px solid transparent;
    color: #c8c8c8;
    display: block;
	font-family: 'ChunkFiveRegular';
	font-size: 24px;
	line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

ul.navigation li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #fff;
}

ul.meta-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transform: rotate(5deg); 
    -moz-transform: rotate(5deg);	
}

ul.meta-nav a {
    color: #ffffff;
    font-size: 12px;
}

/* Form Elements */
input.t {
    border: none;
    font-size: 14px;
    padding: 10px;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

input.s {
    background: #ffc000 url(/images/diag.png) 0 0;
    border: none;
    font-size: 14px;
	font-family: 'ChunkFiveRegular';
    padding: 11px 10px 9px;
    text-transform: uppercase;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

input.s:hover {
    background-color: #ff7200;
    cursor: hand;
}

/* Tables (*cringe*) */

table {
    margin-bottom: 20px;
}

table th {
    text-align: left;
}


table td {
    border-bottom: 1px dashed #aaa;
    margin: 0;
    padding: 10px 0px;
}

/* Available/Active Games List*/

ul.available li,
ul.active li {
    background: rgba(256,256,256,0.1);
    height: 80px;
    margin-bottom: 20px;
}

ul.available li a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

ul.available .info,
ul.active .info {
    float: left;
    margin-left: 20px;
    padding: 20px 0;
    width: 460px;
}

ul.available input,
ul.active input.cancel {
    float: left;
    height: 80px;
    margin: 0 0 0 20px;
    width: 120px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;

}

ul.active li,
ul.active input.cancel {
    height: 120px;
}

ul.active th {
    text-align: center;
}

input.cancel {
    background-color: #444;
}

input.score {
    margin: 0;
    width: 40px;
}

input.player-1-score {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    
}

input.player-2-score {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
}