{% extends "base.html" %}

{% block title %}OPONGER ::: GAMES{% endblock %}

{% block content %}

  <h1>New Game::::</h1>
  <form action="/game/new" method="post">
    <input type="submit" value="New Game" />
  </form>

  <h1>Join a game:::</h1>
  <ul>
    {% for game in available_games %}
    <li>
       Owner: {{ game.player_1.pseudonym }}
       {% ifnotequal player.user game.player_1.user %}
       <form action="/game/join" method="post">
         <input type="hidden" name="game_id" value="{{ game.key.id }}" />
         <input type="submit" value="Join" />
       </form>
       {% endifnotequal %}
    </li>
    {% endfor %}
  </ul>

  <h1>Active games::::</h1>
  <table>
    <tr>
      <th>Owner</th>
      <th>Challenger</th>
    </tr>
    {% for game in open_games %}
    <tr class="game">
      <td>{{ game.player_1.pseudonym }}</td>
      <td>{{ game.player_2.pseudonym }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
