{% extends "base.html" %}

{% block title %}OPONGER ::: HOME{% endblock %}

{% block content %}

  {% if player.pseudonym %}
  <div class="greeting">Hi {{ player.pseudonym }}.</div>
  {% else %}
  <div class="greeting">Hi {{ user.nickname }}. Looks like you haven't set up your pseudonym. Head to the <a href="/profile">profile</a> page to get set up!</div>
  {% endif %}

  <p>OPing, OPong, baby. Get your paddle ready and your game on, because
  OPOWER's ping pong torunament is back!</p>

  {% include "partials/new_game.html" %}
  <h1>Top players:</h1>
  <p>Visit <a href="/players">all players</a>.</p>
  {% include "partials/players_table.html" %}

{% endblock %}
