{% extends "base.html" %}

{% block title %}HOME{% endblock %}

{% block content %}

<h2>Game on!</h2>

  {% if player.pseudonym %}
  {% else %}
  <p class="greeting">Hi {{ user.nickname }}. Looks like you haven't set up your pseudonym. Head to the <a href="/profile">profile</a> page to get set up!</p>
  {% endif %}

  <p>OPing, OPong, baby. Get your paddle ready, because OPOWER's ping pong league is back!</p>

  <h3>Leader Board</h3>
  {% include "partials/players_table.html" %}

  <p><a href="/players">View all players.</a></p>

  <h3 class="no-border">Recent Games</h3>
  <p>Visit <a href="/games">all games</a>.</p>
{% endblock %}
