{% extends "base.html" %}

{% block title %}{{ player_to_show.pseudonym }}{% endblock %}

{% block content %}

  <h1>{{ player_to_show.pseudonym }}</h1>

  <p><strong>Pseudonym:</strong> {{ player_to_show.pseudonym }}</p>
  <p><strong>Email:</strong> {{ player_to_show.user.nickname }}</p>
  {% for location in locations %}
    {% ifequal location.geoPt.lat player_to_show.location.lat %}
    <p><strong>Location:</strong> {{location.name}}</p>
    {% endifequal %}
  {% endfor %}

  <p><strong>Rank:</strong> {{ player_to_show.rank }}</p>
  <p><strong>Percent Win:</strong> {{ stats.percent_win }}</p>
  <p><strong>Wins:</strong> {{ stats.wins }}</p>
  <p><strong>Losses:</strong> {{ stats.losses }}</p>

  {% include "partials/active_games.html" %}
  {% include "partials/available_games.html" %}
  <h1>Completed Games</h1>
  {% include "partials/completed_games.html" %}
{% endblock %}

