{% extends "base.html" %}

{% block title %}{{ player_to_show.pseudonym }}{% endblock %}

{% block content %}

  <h1>{{ player_to_show.pseudonym }}</h1>

  <p>Pseudonym: {{ player_to_show.pseudonym }}</p>
  <p>Email: {{ player_to_show.user.nickname }}</p>
  {% for location in locations %}
    {% ifequal location.geoPt.lat player_to_show.location.lat %}
    <p>Location: {{location.name}}</p>
    {% endifequal %}
  {% endfor %}

  {% include "partials/active_games.html" %}
  {% include "partials/available_games.html" %}
  {% include "partials/completed_games.html" %}
{% endblock %}

