{% extends "base.html" %}

{% block title %}{{ player_to_show.pseudonym }}{% endblock %}

{% block content %}

  <h2>{{ player_to_show.pseudonym }}</h2>

  <table width="100%">
    <tr>
        <td width="30%"><strong>Pseudonym</strong></td>
        <td width="70%">{{ player_to_show.pseudonym }}</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td>{{ player_to_show.user.nickname }}</td>
    </tr>

      {% for location in locations %}
        {% ifequal location.geoPt.lat player_to_show.location.lat %}
    <tr>
        <td><strong>Location</strong></td>
        <td>{{location.name}}</td>
    </tr>
        {% endifequal %}
      {% endfor %}
    <tr>
        <td><strong>Rank</strong></td>
        <td>{{ player_to_show.rank }}</td>
    </tr>
    <tr>
        <td><strong>Percent Win</strong></td>
        <td>{{ stats.percent_win }}</td>
    </tr>
    <tr>
        <td><strong>Wins/Losses</strong></td>
        <td>{{ stats.wins }} / {{ stats.losses }}</td>
    </tr>                 
  </table>

  {% include "partials/active_games.html" %}
  {% include "partials/available_games.html" %}
  {% include "partials/completed_games.html" %}
{% endblock %}

