{% extends "base.html" %}

{% block title %}{{ player.pseudonym }}{% endblock %}

{% block content %}

  <h2>{{ player.pseudonym }}</h2>

  <h2>Update your info</h2>
  <form action="/profile/update" method="post">
    <input type="hidden" name="redirect_path" value="{{redirect_path}}" />
    <label for="pseudonym">Psudonym</label>
    <input type="text" name="pseudonym" class="t" value="{{ player.pseudonym }}" />
    {% for location in locations %}
    <input
      type="radio"
      name="location"
      value="{{location.geoPt}}"
      {% ifequal location.geoPt.lat player.location.lat %}
      checked
      {% endifequal %}
      >
      {{location.name}}
    </input>
    {% endfor %}
    <input type="submit" class="s" value="Update" />
  </form>
  <hr />
  <h2>Avatar</h2>
  <p>{% gravatar_img_for_email player.user.email %}</p>
  <p>
    We're using <a href="http://www.gravatar.com">Gravatar</a> for the profile pictures.
    If you see an image of Dylan, that either means that:
    <ol>
        <ul>a. You don't have a Gravatar image. <a href="http://en.gravatar.com/">Go set one up!</a></ul>
        <ul>b. You are Dylan</ul>
    </ol>
  </p>

{% endblock %}

