{% extends "base.html" %}

{% block title %}{{ player.pseudonym }}{% endblock %}

{% block content %}

  <h2>{{ player.pseudonym }}</h2>

  <h2>Update your info</h2>
  <form action="/profile/update" method="post">
    <input type="hidden" name="redirect_path" value="{{redirect_path}}" />
    <label for="pseudonym">Psudonym</label>
    <input type="text" name="pseudonym" class="t" value="{{ player.pseudonym }}" />
    {% for location in locations %}
    <input
      type="radio"
      name="location"
      value="{{location.geoPt}}"
      {% ifequal location.geoPt.lat player.location.lat %}
      checked
      {% endifequal %}
      >
      {{location.name}}
    </input>
    {% endfor %}
    <input type="submit" class="s" value="Update" />
  </form>

{% endblock %}

