{% extends "base.html" %}

{% block title %}RULEZ{% endblock %}

{% block content %}

  <h2>Rulez</h2>

  <p>
      <strong>League play</strong> will be ongoing, with ranks updated on a game-to-game basis.
      Games can be played in WATT (i.e. Conference Room 2) and wherever the San Francisco folks figure out a spot to play (TBD).
  </p>
  <p>
      <strong>League games</strong> should preferably be played as best of 5 (or best of 3 when in a rush or others are waiting to play) to 11 points.
      This is a bit different from the traditional OPOWER 21, but give it a try.  You might find the games to move more quickly and be a bit more exciting.
      Make sure to switch sides after each game to mitigate any one side's effect on the outcome.  For more details on the rules of play see this
      <a href="http://www.pongworld.com/more/rules.php">handy reference</a>
  </p>
  <p>
      The eight top ranked players will compete in a single-elimination tournament on Cinco De Mustache for the <strong>2011 OPONGER title</strong>.
      Contenders for the title will play for best 3/5 games.
  </p>

  <p>
      Beyond that, rules are for whiners and cheats. If you have questions or need a ref for something, talk to Sean Owen (a.k.a. sean@sucks.com).
  </p>


  <h2>Rankings</h2>
  <p>
      Rankings are calculated using the <a href="http://en.wikipedia.org/wiki/Elo_rating_system">ELO rating system</a>.
  </p>

{% endblock %}

