{% extends "base.html" %}

{% block title %}OPONGER ::: RULEZ{% endblock %}

{% block content %}

  <h1>Rulez::::</h1>
  <p>Preliminaries will commence as soon as we get our shit together. They'll be in WATT (i.e. Conference Room 2), and wherever the San Francisco folks figure out a spot to play (TBD). The eight players that servive the preliminaries will make it to the finals.</p>

  <p>Finals will be single elimination, with contenders playing for best 3/5 games. Again, 21 points wins a game.</p>

  <p>Beyond that, rules are for whiners and cheats. If you have questions or need a ref for something, talk to Sean Owen (a.k.a. sean@sucks.com). Also, here's <a href="http://www.pongworld.com/more/rules.php">a good reference if all else fails</a>.</p>

{% endblock %}

