{% extends "base.html" %}

{% block title %}RULEZ{% endblock %}

{% block content %}

  <h2>Rulez</h2>

  <p>
      <strong>League play</strong> will be ongoing, with ranks updated on a game-to-game basis.
      Games can be played in WATT (i.e. Conference Room 2) and wherever the San Francisco folks figure out a spot to play (TBD).
      League games are best to 21 points.</p>

  <p>
      The eight top ranked players will compete in a single-elimination tournament on Cinco De Mustache for the <strong>2011 OPONGER title</strong>.
      Contenders for the title will play for best 3/5 games.
  </p>

  <p>
      Beyond that, rules are for whiners and cheats. If you have questions or need a ref for something, talk to Sean Owen (a.k.a. sean@sucks.com).
      Also, here's <a href="http://www.pongworld.com/more/rules.php">a good reference if all else fails</a>.
  </p>


  <h2>Rankings</h2>
  <p>
      Rankings are calculated using the <a href="http://en.wikipedia.org/wiki/Elo_rating_system">ELO rating system</a>.
  </p>

{% endblock %}

